*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-image: url('images/fonderete.jpg'); /* Ruta de la imagen */
    background-size: auto; /* Ajusta la imagen para cubrir toda la pantalla */
    background-repeat: repeat; /* Evita que la imagen se repita */
    background-position:70%; /* Centra la imagen en la pantalla */
    background-position-y: top;
}

header{
    background: rgb(8, 73, 2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    border-radius: 20px;
}


.cabeza{
    width: 100%;
    display: flex;
    justify-content: end;
}

.cabeza > a ,h1{
    margin-left: 20px;
}

a, .iccontactos{
    margin-left: 1%;
}

a, h3 , h1{
    color: white;
    font-weight: bold;
    text-decoration-line: none;
}

a:hover{
    color: yellowgreen;
}

#logo{
    height: 60px;
    width: 80px;
    border-radius: 20%;
}

#paginaactual{
    text-decoration: underline;
}

#contenido{
    background: rgba(255, 255, 255, 0.20);
    margin: 40px;
    border-radius: 20px;
}

.contenedor {
    display: flex;
    justify-content: space-evenly;
    padding: 5%;
}

table{
    border: 1px black solid;
    padding: 10px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.548);
}

table tr th {
    padding: 10px;
}

table td {
    padding: 10px;
}

.nombrestabla{
    width: 300px;
}

footer {
    background-color: rgb(8, 73, 2);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    color: white;
}

footer .text {
    margin-left: 40px;
}

.socials {
    display: flex;
    justify-content: end;
    align-items: center;
}

.contactosbar {
    width: 100px;
    margin-left: 8px;
}

.iccontactos{
    height: 20px;
}

.contenido-secundario {
    background: rgba(255, 255, 255);
    margin: 40px;
    border-radius: 20px;
}

.contenedor-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.club-texto > p {
    margin-right: 80px;
    margin-left: 80px;
}

.contenedor-secundario img {
    height: 180px;
    width: 174px;
    margin-top: 40px;
}